@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #735A10, #F29F05);
}

main {

    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #735A10 ;
    width: 600px;
    padding: 10%;
    margin: auto;
}

h1 {
    color: #F2B705;
    text-align: center;
    text-shadow: 1px 1px 2px #020426;
}

h2 {
    color: #F2CB05;
    text-shadow: 1px 1px 2px #020426;

}

h3 {

    color: #F29F05;
    text-shadow: 1px 1px 2px #020426;
}


p {
    text-align: justify;
}


